
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
     border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    float:right;
}

li a:hover {
    background-color: #111;
}

li:last-child {
    border-right: none;
}
p {
    
    padding-left: 10% ;
    padding-right: 10%;
}

.introducao {
    font-size: 22px;
    background-color: #FFFAFA;
}

h1 {
   padding-top: 2.5%; 
    text-align: center;
}

